#head {
	margin-right: 0;
	margin-left: auto;
	margin-top: 0;
}

#logo {
	width:100%;
	padding-top:200px;
	padding-bottom:25px;
}

#logo img {
	display: block;
	width: 269;
	height: 95px;
	margin: auto;
}

#searchbar {
	padding-top: 10px;
	text-align: center;	
}

#buttons {
	padding-top: 10px;
	text-align: center;


}

#searchbox {
	width: 592px;
	height: 27px;
	margin:auto;
	position:relative;
}

#searchbox input {
	width:570px;
	height:20px;
	border:1px solid #DDDDDD;
	padding: 0 10px;
	margin: 0, auto;
}